section.avis
    div.container
        div.row
            div.col-xs-12.col-md-4.col-md-offset-1
                h2.avis__title Ils nous ont confié la gestion de leur location :
                a(href='#').avis__lien Voir tous les avis utilisateurs
            div.col_xs_12.col-md-7
                div.avis__item
                    div.avis__stars
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                    p.avis__coments “C’est juste parfait ! En fait, c’est simple : Hostnfly s’occupe de tout ! Le photographe vient (réelle flexibilité), l’annonce est faite. On remet les clés à 2 pas de chez soi et même pas de grand ménage à faire ou de draps à préparer : hostnfly s’occupe vraiment DE TOUT. C’est juste parfait ! Merci pour ce service :)“
                    div.avis__profil
                        div.avis__profil--picture
                            img(src='styles/components/stastic/media/francois_pdp.jpg').avis__profil--picture--pdp
                        div.avis__profil--info
                            p.avis__profil--info--nom François G.
                            p.avis__profil--info--addresse Habite dans un T2 dans le 10ème arrondissement de Paris
        div.row
            div.col-xs-12.col-md-7
                div.avis__item
                    div.avis__stars
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                    p.avis__coments “Plus qu’une conciergerie, une solution clé en main pour partir en vacances l’esprit léger et les poches pleines ! Hostnfly dispose d’une équipe en or, et très réactive. Tout s’est déroulé parfaitement et nous avons retrouvés notre apparement plus propre que nous l’avions laissé. La garantie de revenus est un plus énorme que personne d’autre ne propose sur le marché. Je recommande sans hésiter !!!“
                    div.avis__profil
                        div.avis__profil--picture
                            img(src='styles/components/stastic/media/philipine_pdp.jpg').avis__profil--picture--pdp
                        div.avis__profil--info
                            p.avis__profil--info--nom Philippine P.
                            p.avis__profil--info--addresse Habite dans un T2 dans le 9ème arrondissement de Paris
        div.row.end-md
            div.col-xs-12.col-md-7
                div.avis__item
                    div.avis__stars
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star.svg').avis__stars--star
                        span.avis__stars--star
                            img(src='styles/components/stastic/media/star%20vide.svg').avis__stars--star.avis__stars--star--umpty
                    p.avis__coments “Service sérieux et professionnel. Equipe à l’écoute de ses clients. Un bon moyen de générer un revenu avec un minimum d effort“
                    div.avis__profil
                        div.avis__profil--picture
                            img(src='styles/components/stastic/media/pierre_pdp.jpg').avis__profil--picture--pdp
                        div.avis__profil--info
                            p.avis__profil--info--nom Pierre-Olivier C.
                            p.avis__profil--info--addresse Habite dans un studio dans le 18ème arrondissement de Paris
        
