section.figures
    div.container
        div.row.between-md
            div.col-xs-12
                div.row.center-xs
                    div.col-xs-12.col-md-8
                        h2.figures__title HostnFly, 1er service de conciergerie Airbnb en France
            div.col-xs-12.col-md-4.figures__item
                div.figures__item--content
                    p.figures__item--number.figures__item--number--flat 2 000
                    p.figures__item--title Appartements en gestion
            div.col-xs-12.col-md-4.figures__item
                div.figures__item--content
                    p.figures__item--number.figures__item--number--trip 70 000
                    p.figures__item--title Voyageurs accueillis
            div.col-xs-12.col-md-4.figures__item
                div.figures__item--content
                    p.figures__item--number.figures__item--number--money 10 M€
                    p.figures__item--title De revenus gagnés par nos clients