section.footer
    div.container
        div.footer.row.middle-md.between-md
            div.col-xs-12.col-md-5
            div.col-xs-12.col-md-3
                ul.footer__social
                    li.footer__social--item
                    a(href='#').footer__social--link: img(src='styles/components/stastic/media/facebook-logo-button.svg').footer__social--logo
                    li.footer__social--item
                    a(href='#').footer__social--link: img(src='styles/components/stastic/media/instagram-logo.svg').footer__social--logo
                    li.footer__social--item
                    a(href='#').footer__social--link: img(src='styles/components/stastic/media/pinterest-logo.svg').footer__social--logo
                    li.footer__social--item
                    a(href='#').footer__social--link: img(src='styles/components/stastic/media/twitter-logo-button.svg').footer__social--logo
        div.footer__info.row.between-md
            div.col-xs-12.col-md-4
                div.footer__hostnfly
                    img(src='styles/components/stastic/media/hostnfly-white.acab34bf.png').footer__logo
                    p.footer__text HostnFly est bien plus qu’une simple conciergerie Airbnb. HostnFly offre une gestion clé en main de vos locations saisonnières en s’occupant de toute la logistique liée à la location Airbnb (ménage, accueil des voyageurs, maintenance…) et en maximisant vos revenus. Nous sommes la conciergerie Airbnb numéro 1 à Paris, Lyon et Marseille et avons permis à plus de 2000 personnes de devenir hôte Airbnb et de partir plus loin, plus longtemps, plus souvent.
            div.col-xs-12.col-md-2.col-md-offset-1
                div.footer__div
                    h3.footer__title Tout savoir sur Hostnfly
                    ul.footer__liste
                        li.footer__item
                            a(href='#').footer__link Qui sommes-nous ?
                        li.footer__item
                            a(href='#').footer__link Nous rejoindre
                        li.footer__item
                            a(href='#').footer__link Confidentialité
                        li.footer__item
                            a(href='#').footer__link Mentions légales
                        li.footer__item
                            a(href='#').footer__link Conditions d'utilisation
            div.col-xs-12.col-md-2
                div.footer__div
                    h3.footer__title Besoin de plus d'infos ?
                    ul.footer__liste
                        li.footer__item
                            a(href='#').footer__link Foire aux questions
                        li.footer__item
                            a(href='#').footer__link Mieux connaître notre service
                        li.footer__item
                            a(href='#').footer__link Blog
                        li.footer__item
                            a(href='#').footer__link Press
            div.col-xs-12.col-md-2
                div.footer__div
                    h3.footer__title On reste en contact ?
                    ul.footer__liste
                        li.footer__item
                            a(href='#').footer__link.yellow Client@hostnfly.com
                        li.footer__item
                            a(href='#').footer__link.yellow 01 86 76 12 82
                        li.footer__item--text
                            p.footer__item--text Ou passez nous voir :
                            p.footer__item--text 24 rue de Clichy, 75009 Paris

