section.header
    div.container
        div.row.center-md.header__infos
            div.col-md-2.header__hostnfly
                a(href='#'): img(src='styles/components/stastic/media/hostnfly-blue.d6f7a567.png').header__logo
            div.col-xs-3.col-md-4
                a(href='#').header__link
                    p.header__textBlue Des questions ? Contactez-nous au
                    div.header__phone--all
                        img(src='styles/components/stastic/media/smartphone-call.svg').header__phone--picto
                        span.header__phone.on-md 01 86 76 12 82
            div.col-xs-9.col-md-6.header-right
                div.header__text
                    span.header__textBleu Nos clients gagnent en moyenne
                    div.header__text--all
                        span.header__textBig 1678
                        span.header__textSmall € / an
                button.header__button
                    span.header__button--text Estimer mon revenu
              

