section.items
    div.container
        div.row.between-md
            div.col-xs-12.items__top
                h2.items__title Notre conciergerie s’occupe de tout
                p.items__subtitle La gestion de votre location saisonnière clé en main :
            div.col-xs-12.col-md-2.items__item
                div.row.middle-xs
                    a(href='#').items__item--lien
                        div.row.middle-xs.reverse
                            div.col-xs-4.col-md-12
                                div.items__img
                                img(src='styles/components/stastic/media/contract-logo.svg')
                            div.col-xs-8.col-md-12
                                p.items__text Création et optimisation de votre annonce Airbnb
            div.col-xs-12.col-md-2.items__item
                div.row.middle-xs
                    a(href='#').items__item--lien
                        div.row.middle-xs
                            div.col-xs-4.col-md-12
                                div.items__img
                                img(src='styles/components/stastic/media/clef-logo.svg')
                            div.col-xs-8.col-md-12
                                p.items__text Remises des clés
            div.col-xs-12.col-md-2.items__item
                div.row.middle-xs
                    a(href='#').items__item--lien
                        div.row.middle-xs.reverse
                            div.col-xs-4.col-md-12
                                div.items__img
                                img(src='styles/components/stastic/media/drap-logo.svg')
                            div.col-xs-8.col-md-12
                                p.items__text Draps et linge de maison fournis
            div.col-xs-12.col-md-2.items__item
                div.row.middle-xs
                    a(href='#').items__item--lien
                        div.row.middle-xs
                            div.col-xs-4.col-md-12
                                div.items__img
                                img(src='styles/components/stastic/media/valise-logo.svg')
                            div.col-xs-8.col-md-12
                                p.items__text Sélection des voyageurs et assistance 7j/7
            div.col-xs-12.col-md-2.items__item
                div.row.middle-xs
                    a(href='#').items__item--lien
                        div.row.middle-xs.reverse
                            div.col-xs-4.col-md-12
                                div.items__img
                                img(src='styles/components/stastic/media/clean-logo.svg')
                            div.col-xs-8.col-md-12
                                p.items__text Ménage complet et maintenance
