include head.pug
include header.pug  

block content

include services.pug
include items.pug
include figures.pug
include avis.pug
include qa.pug
include sponsors.pug


include footer.pug
