section.qa
    div.container
        div.row
            div.col-xs-12
                h3.qa__title Confier son logement n’est pas anodin, c’est normal d’avoir des questions :
            div.col-xs-12
                div.qa__item
                    div.qa__item--column
                        div.qa__item--column--object
                            p Quels sont vos tarifs ?
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                        div.qa__item--column--object
                            p Comment calculez-vous mon revenu ?
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                        div.qa__item--column--object
                            p Comment se passe la gestion des clefs ?
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                    div.qa__item--column
                        div.qa__item--column--object
                            p Quel est la législation Airbnb France
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                        div.qa__item--column--object
                            p Sélectionnez-vous les voyageurs ?
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                        div.qa__item--column--object
                            p Est-ce que je suis couvert(e) par des assurances ?
                            img(src='styles/components/stastic/media/down-arrow.svg').qa__item--arrow
                div.col-xs-12
                    p.qa__text D'autres questions ? Plus de réponse par 
                    a(href='#').qa__lien ici
                    p.qa__text Vous pouvez aussi nous contacter directement par mail à 
                    a(href='#').qa__lien client@hostnfly.com
                    p.qa__text ou nous appeler au  
                    a(href='#').qa__lien 01 86 76 12 82
                    
