section.services
    div.container
        div.row.between-md
            div.col-xs-12.col-md-3
                div.row
                    div.col-xs-12
                        div.services__img
                        img(src='styles/components/stastic/media/home-logo.png').services__img
                    div.col-xs-12
                        h3.services__title Service clé en main
                        p.services__text On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
                        p.services__text--blue De nombreuses heures de gestion gagnées
            div.col-xs-12.col-md-3
                div.row
                    div.col-xs-12
                        div.services__img
                        img(src='styles/components/stastic/media/euro-logo.png').services__img
                    div.col-xs-12
                        h3.services__title 2 offres de revenu
                        p.services__text Commission à partir de 15% ou revenu garanti sur toute la durée de location : à vous de choisir !
                        p.services__text--blue 30% de revenu en plus en moyenne qu'une location Airbnb
                        div.col-xs-12.col-md-3
                div.row
                    div.col-xs-12
                        div.services__img
                        img(src='styles/components/stastic/media/flexy-logo.png').services__img
                    div.col-xs-12
                        h3.services__title Flexibilité maximale
                        p.services__text À partir de 2 nuits d'absence, nous prenons en charge tout type de logement, que vous soyez locataire ou propriétaire
                        p.services__text--blue Gagnez de l'argent, même sur un week-end
                        