section.sponsors
    div.containenr
        div.row.around-xs
            div.col-xs-3
                a(href='#').sponsors__link: img(src='styles/components/stastic/media/bfm-business-logo.png').sponsors__img
            div.col-xs-3
                a(href='#').sponsors__link: img(src='styles/components/stastic/media/Les_echos_2.png').sponsors__img
            div.col-xs-3
                a(href='#').sponsors__link: img(src='styles/components/stastic/media/La_tribune_(logo)_2012.png').sponsors__img



